body {
    background-color: #E8E9EE !important;
}

#root{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-size: 1.03em
}

a {
    color: #28344C !important;
}

a:hover {
    text-decoration: none !important;
}

.mainWrapper {
    margin-top: 70px;
    margin-bottom: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fff;
    color: #28344C;
    box-shadow: 0px 1px 3px 0px rgba(34, 60, 80, 0.1);
}

.standardTitle {
    font-size: 1.40em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 0 5px 20px;
    border-left: 5px solid #1a3c66;
    margin-bottom: 30px;
}

.greenText{
    color: darkgreen !important;
}

.yellowText{
    color: orangered !important;
}

.redText{
    color: darkred !important;
}

.iconText{
    padding-left: 30px;
    position: relative;
    font-size: 1.05em;
}

.iconText svg{
    position: absolute;
    left: 0;
    top: 3px;
    font-size: 1.25em;
}